* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Cinzel", serif;
    background-color: #f4efe9;
    text-align: center;
}

.header {
    background-color: #d9c2ad;
    padding: 80px 30px 50px 20px;
    font-weight: bold
}

h2{
  color: #4b2e2e;
  font-size: 35px;

}

#logo {
    position: absolute;
    top: 50px;         
    left: 5%;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

#sub {
    margin-top: 20px;
    font-size: 40px;
}

#sub2 {
    margin-top: 20px;
    font-size: 20px;
}

nav ul {
    list-style: none;
    margin-top: 15px;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #4b2e2e;
    font-weight: bold;
}

nav ul li a:hover {
    color: #8b5e3c;
}

form {
    margin: 40px auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #8b5e3c;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #6f472c;
}

.link {
    display: inline-block;     
    padding: 10px 20px;         
    margin: 10px;               
    background-color: #be9566;  
    color: white;              
    text-decoration: none;     
    border-radius: 5px;        
    font-weight: bold;     
}

.link:hover {
    background-color: #351f11; }