* {
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

  body {
    background: #feeede;
    color: #7b72ff;
}

.page {
    max-width: 1200px;
    margin: auto;
    background: #f5d4e3;
    padding: 20px;
    display: grid;
    gap: 20px;
}

.menus {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    gap: 50px
}

.dois, .tres, .quatro, .cinco, .seis, .sete {
    margin: auto;
    border: 5px solid #f1a5ca;
    padding: 100px;
    width: 100%;
}

.ultimo {
    display: grid;
    gap: 20px
    margin: auto;
    max-width: 1200px;
    border: 5px solid #f1a5ca;
    padding: 100px;
    width: 100%;
}
